html, body {
    height: 100%;
}
.text {
    text-align: center;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    background-color: #1a1e21;
    font-size: 50px;
    isolation: isolate;
    transition: color 0.25s;
}
.text:hover {
    color: #f23838;
}
.text::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 48%;
    z-index: -1;
    width: 7px;
    height: 140px;
    background-color: #56d9cd;
    border-radius: 10px;
    transform:
        rotate(25deg)
        translate(-50%,-50%)
        scaleY(0);
    opacity: 0;
    transition:
        transform 0.5s,
        opacity 1s;
}
.text:hover::before {
    transform:
        rotate(25deg)
        translate(-50%,-50%)
        scaleY(1);
        opacity: 1;

}